@charset "UTF-8";
/*
@package tony_ngash_everydayapps
*/
/*MIXINS
---------------------------------------------------------------------------------
*/
/*KEYFRAMES 
---------------------------------------------------------------------------------
*/
@keyframes navLinksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*FONT ICON 
---------------------------------------------------------------------------------
*/
@font-face {
  font-family: Noasarck;
  src: url(../fonts/Noasarck_Largo.otf);
  font-weight: normal;
}
@font-face {
  font-family: PinkSans;
  src: url(../fonts/PinkSans-100.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "ingrotel-icon";
  src: url("../fonts/ingrotel-icon.eot?3h794u");
  src: url("../fonts/ingrotel-icon.eot?3h794u#iefix") format("embedded-opentype"), url("../fonts/ingrotel-icon.ttf?3h794u") format("truetype"), url("../fonts/ingrotel-icon.woff?3h794u") format("woff"), url("../fonts/ingrotel-icon.svg?3h794u#ingrotel-icon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.ingrotel-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ingrotel-icon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ingrotel-ingrotel_font_logo:before {
  content: "";
}

.ingrotel-audio:before {
  content: "";
}

.ingrotel-chevron-left:before {
  content: "";
}

.ingrotel-chevron-right:before {
  content: "";
}

.ingrotel-close:before {
  content: "";
}

.ingrotel-comment:before {
  content: "";
}

.ingrotel-link:before {
  content: "";
}

.ingrotel-loading:before {
  content: "";
}

.ingrotel-menu:before {
  content: "";
}

.ingrotel-pencil:before {
  content: "";
}

.ingrotel-pics:before {
  content: "";
}

.ingrotel-search:before {
  content: "";
}

.ingrotel-share:before {
  content: "";
}

.ingrotel-tag:before {
  content: "";
}

.ingrotel-video:before {
  content: "";
}

/*GENERIC 
---------------------------------------------------------------------------------
*/
.test-red {
  border: solid red 1px;
}

.test-blue {
  border: solid blue 1px;
}

.test-green {
  border: solid green 1px;
}

.test-yellow {
  border: solid yellow 5px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: #f5f5f5;
}

h1 {
  font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
}

.background-image-setup {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
============================TOP MENU NAVIGATION================================== 
---------------------------------------------------------------------------------
*/
.ingrotel-logo-box {
  margin-left: 10px;
}
.ingrotel-logo-box a {
  color: #e2e2e2;
  text-decoration: none;
  opacity: 0.7;
}
.ingrotel-logo-box a:hover, .ingrotel-logo-box a:focus {
  opacity: 1;
}

.ingrotel-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 57px;
  background-color: #252525;
  text-transform: uppercase;
  font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
}

.ingrotel-nav-ul {
  z-index: 101;
  position: absolute;
  right: 0px;
  height: 217px;
  top: 41px;
  background-color: #424242;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding-top: 5px;
  padding-right: 1.2rem;
  align-items: center;
  width: 40%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}
.ingrotel-nav-ul li {
  list-style: none;
  opacity: 0;
}
.ingrotel-nav-ul li a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.nav-active {
  transform: translateX(0%);
}

.burger-container {
  position: absolute;
  right: 0;
  background-color: #424242;
}

.burger {
  padding: 13px;
}
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*
=============================HOME PAGE VIDEO BACKGROUND AND OVERLAY========================
---------------------------------------------------------------------------------
*/
.ingrotel-video-header {
  height: 522px;
  display: flex;
  align-items: center;
  color: #fff;
}

.fullscreen-video-wrap {
  position: absolute;
  height: 418px;
  top: 57px;
  left: 0;
  right: 0;
  overflow: hidden;
}

.video {
  min-width: 100%;
  min-height: 100%;
}

.ingrotel-video-overlay {
  position: absolute;
  height: 418px;
  top: 57px;
  left: 0;
  right: 0;
  background: #171717;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.7346288857) 0%, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.8998949922) 83%, #171717 100%);
}

/*
=============================HOME PAGE DECORATIVE COLUMNS======================================== 
---------------------------------------------------------------------------------
*/
.home-video-decorative-columns {
  position: absolute;
  height: 518px;
  top: 57px;
  left: 0;
  right: 0;
}
.home-video-decorative-columns .deco-columns-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.home-video-decorative-columns .deco-columns-container span {
  width: 12.5%;
}

.home-video-decorative-column-1 {
  position: relative;
}
.home-video-decorative-column-1:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 411px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.1;
}
.home-video-decorative-column-1:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: solid 3px #fff;
  top: 95px;
  right: -4px;
}

.home-video-decorative-column-4 {
  position: relative;
}
.home-video-decorative-column-4:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 465px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.1;
}
.home-video-decorative-column-4:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: solid 3px #fff;
  top: 42px;
  right: -4px;
}

.home-video-decorative-column-7 {
  position: relative;
}
.home-video-decorative-column-7:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 207px;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.1;
}
.home-video-decorative-column-7:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: solid 3px #fff;
  top: 300px;
  right: -4px;
}

.home-video-unequal-bottom-boxes {
  position: absolute;
  z-index: -1;
  top: 418px;
  height: 100px;
  width: 100%;
  display: flex;
}
.home-video-unequal-bottom-boxes span {
  width: 12.5%;
  background-color: #171717;
}

.home-video-unequal-box-3, .home-video-unequal-box-4 {
  height: 26px;
}

.home-video-unequal-box-5, .home-video-unequal-box-6 {
  height: 57px;
}

/*
=============================HOME PAGE HERO SECTION======================================== 
---------------------------------------------------------------------------------
*/
.hero-content-container {
  position: absolute;
  top: 187px;
  height: 285px;
  padding-left: 34px;
  padding-right: 34px;
  width: 100%;
}

.hero-heading-container {
  text-align: left;
}

.hero-heading {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.hero-text-container {
  padding-top: 20px;
}

.hero-text {
  font-size: 11px;
  color: #fff;
}

/*
=============================HOME PAGE ABOUT SECTION=============================
---------------------------------------------------------------------------------
*/
.about-section-container {
  background-color: #f5f5f5;
  padding-bottom: 100px;
  padding-top: 5rem;
}
.about-section-container .container {
  background-color: #fff;
  padding-bottom: 3rem;
}

.about-section-heading-container {
  margin-top: 5rem;
}

.about-section-heading {
  color: #535050;
  font-size: 4.2em;
}

.about-section-text-container {
  margin-top: 10px;
  font-size: 0.8em;
}

.about-section-sub-heading-container {
  margin-top: 10px;
}

.about-section-sub-heading {
  color: #535050;
  text-align: center;
  font-size: 2em;
}

.about-section-virtues-container {
  margin-top: 10px;
}

.virtue-box {
  background: blue;
  width: 80px;
  height: 80px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
}
.virtue-box span {
  color: #fff;
  font-size: 1.6em;
}

.virtue-title {
  margin-top: 5px;
  text-align: center;
}
.virtue-title h3 {
  font-size: 1.5em;
}

/*
==========NEW!!!===================HOME PAGE PRODUCTS SECTION=============================
------------------------------------------------------------------------------------
*/
.home-products-section {
  position: relative;
}

.home-products-section-image-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #171717;
  height: 37rem;
}

.products-section-overlay {
  position: absolute;
  height: 37rem;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #171717;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.7346288857) 0%, rgba(23, 23, 23, 0) 0%, rgba(23, 23, 23, 0.8998949922) 83%, #171717 100%);
}

.products-decorative-columns {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.products-columns-container {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  height: 100%;
  display: flex;
}
.products-columns-container span {
  width: 12.5%;
}

.products-decorative-column-1 {
  position: relative;
}
.products-decorative-column-1:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 144rem;
  background-color: #fff;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.products-decorative-column-1:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border: solid 2px #fff;
  border-radius: 50%;
  top: 11.5rem;
  right: -4px;
}

.products-decorative-column-4 {
  position: relative;
}
.products-decorative-column-4:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 152.6rem;
  background-color: #fff;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.products-decorative-column-4:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border: solid 2px #fff;
  border-radius: 50%;
  top: 3rem;
  right: -4px;
}

.products-decorative-column-7 {
  position: relative;
}
.products-decorative-column-7:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 122.6rem;
  background-color: #fff;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
.products-decorative-column-7:after {
  content: "";
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border: solid 2px #fff;
  border-radius: 50%;
  top: 33rem;
  right: -4px;
}

.products-unequal-bottom-boxes {
  height: 8rem;
  display: flex;
}
.products-unequal-bottom-boxes span {
  width: 12.5%;
  background-color: #171717;
}

.products-unequal-box-3, .products-unequal-box-4 {
  height: 3rem;
}

.products-unequal-box-5, .products-unequal-box-6 {
  height: 5rem;
}

.home-products-section-content {
  position: absolute;
  top: 13rem;
}

.home-products-section-title {
  padding: 20px 34px;
}
.home-products-section-title h1 {
  color: #fff;
  font-size: 4.2rem;
}

.home-products-section-write-up {
  padding: 20px 34px;
}
.home-products-section-write-up p {
  color: #fff;
  font-size: 0.8rem;
}

.home-featured-products {
  padding-top: 10rem;
  background-color: #171717;
}

/*
=============================HOME PAGE PRODUCTS SECTION=============================
------------------------------------------------------------------------------------
*/
.products-section-heading-container {
  margin-top: 100px;
}

.products-section-heading {
  color: #fff;
  font-size: 4.2em;
}

.products-section-text-container {
  margin-top: 10px;
}

.products-section-text {
  color: #fff;
  font-size: 0.8em;
}

.products-section-container-bottom {
  padding-top: 20px;
  background-color: #171717;
}

.products-section-products-container {
  margin-top: 100px;
}

.product-box {
  width: 180px;
  height: 250px;
  position: relative;
  background: gray;
  margin: auto;
  margin-bottom: 20px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -2px -1px 18px 6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -1px 18px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 18px 6px rgba(0, 0, 0, 0.75);
}

.product-box-overlay {
  width: 180px;
  height: 250px;
  position: absolute;
  background-color: #171717;
  opacity: 0.7;
  margin: auto;
  margin-bottom: 20px;
}

.product-name {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: solid 8px #3641ff;
  margin: auto;
  text-align: center;
}
.product-name h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
}

/*
=============================HOME PAGE SERVICES SECTION=============================
------------------------------------------------------------------------------------
*/
.services-section-container {
  background-color: #f5f5f5;
  padding-top: 7rem;
  padding-bottom: 100px;
}

.services-section-heading-container {
  margin-top: 100px;
}

.services-section-heading {
  color: #535050;
  font-size: 4.2em;
}

.services-section-text-container {
  margin-top: 10px;
}
.services-section-text-container p {
  font-size: 0.8em;
}

.services-section-video-container {
  margin-top: 10px;
}

.services-section-video-heading {
  background-color: #fff;
  padding: 33px;
}
.services-section-video-heading h1 {
  font-size: 26px;
  line-height: 0.9em;
}
.services-section-video-heading h2 {
  font-size: 17px;
}
.services-section-video-heading p {
  font-size: 12px;
  line-height: 2em;
}

.video-wrapper {
  position: relative;
  height: 0;
  padding-top: 1.5625rem;
  padding-bottom: 56.25%;
  background-color: #171717;
}

.video-wrapper--shadow {
  -webkit-box-shadow: 0 1.25rem 4.375rem rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1.25rem 4.375rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 1.25rem 4.375rem rgba(0, 0, 0, 0.5);
}

.margin-zeta-bottom {
  margin-bottom: 4.375rem !important;
}

.video-wrapper__placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-right: 1.875rem;
  padding-left: 1.875rem;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

.play-button {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #3641ff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.play-triangle {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-left: 15px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

/*
=============================FOOTER SECTION=============================
------------------------------------------------------------------------
*/
.footer-section-container {
  background-color: #2e2e2e;
}

.footer-socials-container {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.fa {
  padding: 10px;
  font-size: 14px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: #3d3d3d;
  color: #fff;
}

.fa-facebook:hover, .fa-facebook:focus {
  background-color: #3b5998;
  color: #fff;
  text-decoration: none;
}

.fa-twitter:hover, .fa-twitter:focus {
  background-color: #55ACEE;
  color: #fff;
  text-decoration: none;
}

.fa-instagram:hover, .fa-instagram:focus {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: #fff;
  text-decoration: none;
}

.fa-youtube:hover, .fa-youtube:focus {
  background-color: #c4302b;
  color: #fff;
  text-decoration: none;
}

.fa-linkedin:hover, .fa-linkedin:focus {
  background-color: #0e76a8;
  color: #fff;
  text-decoration: none;
}

.footer-section-menu {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer-section-menu ul {
  height: 300px;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.footer-section-menu ul li {
  list-style: none;
  text-align: center;
}
.footer-section-menu ul li a {
  font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.7;
  text-decoration: none;
}
.footer-section-menu ul li a:hover, .footer-section-menu ul li a:focus, .footer-section-menu ul li a:visited {
  opacity: 1;
}

.footer-section-bottom-container {
  background-color: #171717;
  padding-top: 15px;
}

.footer-section-bottom-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.footer-section-bottom-links ul {
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.footer-section-bottom-links ul li {
  list-style: none;
  text-align: center;
}
.footer-section-bottom-links ul li a {
  text-decoration: none;
  opacity: 0.6;
  font-size: 12px;
  color: #fff;
  margin-left: 5px;
}
.footer-section-bottom-links ul li a:hover {
  opacity: 1;
}

.footer-section-bottom-text p {
  font-size: 12px;
  color: #5d5757;
  text-align: center;
}
.footer-section-bottom-text p a {
  text-decoration: none;
  opacity: 0.5;
  font-size: 12px;
  color: #fff;
}
.footer-section-bottom-text p a:hover, .footer-section-bottom-text p a:focus, .footer-section-bottom-text p a:visited {
  opacity: 1;
}

/*
NEEEW!!!!!!!!!!!!S==========INGROTEL FADER PAGE=============================
------------------------------------------------------------------------------------
*/
.ingrotel-fader-section {
  position: relative;
  background-color: #f5f5f5;
}

.ingrotel-fader-image-bg {
  position: relative;
  background-color: #171717;
  display: grid;
}
.ingrotel-fader-image-bg img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
}

.fader-image-1 {
  opacity: 0;
}

.the_fake_space {
  height: 30rem;
  background-color: #171717;
}

.ingrotel-fader-section-content {
  top: 7%;
  padding: 0 2.2em;
  position: absolute;
}

.ingrotel-fader-section-title {
  position: relative;
}
.ingrotel-fader-section-title h1 {
  font-size: 3em;
  letter-spacing: 0.1em;
  color: #fff;
}

.fader-page-bread-crumbs ul {
  display: none;
}

.ingrotel-fader-section-write-up {
  padding-top: 3rem;
}
.ingrotel-fader-section-write-up p {
  color: #fff;
  font-size: 0.8em;
  line-height: 2.3em;
}

.ingrotel-fader-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #171717;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.7346288857) 0%, rgba(23, 23, 23, 0.6449930314) 34%, rgba(23, 23, 23, 0.9335084376) 58%, #171717 100%);
}

.fader-image-1 {
  animation: fade1 30s infinite;
}

.fader-image-2 {
  animation: fade2 30s infinite;
}

.fader-image-3 {
  animation: fade3 30s infinite;
}

.fader-image-4 {
  animation: fade4 30s infinite;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*-------------------------------------------------------------------------*/
/*
=============================INGROTEL PAGE TEMPLATE==================================
----------------------------------------------------------------------------*/
.ingrotel-image-fader-background {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.ingrotel-fader-image {
  position: absolute;
  z-index: 110;
}

.ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
  display: block;
  position: absolute;
  width: 100vw;
  height: 23vh;
}

.ingrotel-fader-image-1 {
  animation: fade1 30s infinite;
}

.ingrotel-fader-image-2 {
  animation: fade2 30s infinite;
}

.ingrotel-fader-image-3 {
  animation: fade3 30s infinite;
}

.ingrotel-fader-image-4 {
  animation: fade4 30s infinite;
}

@keyframes fade1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade4 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ingrotel-image-fader-overlay {
  position: absolute;
  width: 100vw;
  height: 23vh;
  background: #171717;
  background: linear-gradient(180deg, rgba(23, 23, 23, 0.7346288857) 0%, rgba(23, 23, 23, 0.5889706224) 0%, #171717 83%, #171717 100%);
}

.ingrotel-page-title-container {
  padding-top: 100px;
  background-color: #171717;
}

.ingrotel-page-title-heading {
  color: #fff;
}

.ingrotel-page-text {
  font-size: 0.6em;
  color: #fff;
}

.ingrotel-image-fader-blend-area {
  width: 100vw;
  height: 10vh;
  background-color: #171717;
}

/*
=============================MEDIA QUERIES==================================
----------------------------------------------------------------------------
*/
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 320px) {
  /*=======ABOUT=========*/
  .virtue-box {
    width: 100px;
    height: 100px;
    padding-top: 30px;
  }
  .virtue-box span {
    font-size: 3.2em;
  }

  .virtue-title h3 {
    font-size: 1.8em;
  }

  .ingrotel-fader-section-content {
    top: 8%;
  }

  .the_fake_space {
    height: 20rem;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 576px) {
  /*=======HERO=========*/
  .hero-heading {
    font-size: 4em;
  }

  .the_fake_space {
    height: 10rem;
  }

  .ingrotel-fader-section-content {
    top: 12%;
    padding: 0 2em;
  }
  .ingrotel-fader-section-content h1 {
    font-size: 3em;
  }

  .ingrotel-fader-section-write-up p {
    line-height: 3em;
  }

  .products-decorative-column-1:before {
    height: 93.5rem;
  }
  .products-decorative-column-1:after {
    top: 11.5rem;
  }

  .products-decorative-column-4:before {
    height: 100.5rem;
  }
  .products-decorative-column-4:after {
    top: 4.5rem;
  }

  .products-decorative-column-7:before {
    height: 73rem;
  }
  .products-decorative-column-7:after {
    top: 32.2rem;
  }

  .home-products-section-title {
    padding: 20px 68px;
  }
  .home-products-section-title h1 {
    font-size: 4rem;
  }

  .home-products-section-write-up {
    padding: 20px 68px;
  }
  .home-products-section-write-up p {
    font-size: 1.1rem;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .ingrotel-logo-box {
    margin-left: 33px;
  }

  .ingrotel-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 58px;
    background-color: #252525;
    text-transform: uppercase;
    font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  }

  .ingrotel-nav-ul {
    z-index: unset;
    position: unset;
    right: unset;
    height: unset;
    top: unset;
    padding: unset;
    background-color: unset;
    align-items: unset;
    width: 500px;
    transform: unset;
    transition: unset;
    margin-right: 33px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .ingrotel-nav-ul li {
    list-style: none;
    opacity: unset;
  }
  .ingrotel-nav-ul li.active a {
    color: #fff;
    opacity: 1;
  }
  .ingrotel-nav-ul li.active a:after {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .ingrotel-nav-ul li a {
    color: #fff;
    position: relative;
    text-decoration: none;
    letter-spacing: 0.1rem;
    opacity: 0.6;
    padding: 19px;
  }
  .ingrotel-nav-ul li a:hover, .ingrotel-nav-ul li a:focus {
    opacity: 1;
  }
  .ingrotel-nav-ul li a:hover:after, .ingrotel-nav-ul li a:focus:after {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .ingrotel-nav-ul li a:after {
    z-index: 2;
    content: "";
    position: absolute;
    right: 1px;
    bottom: 0;
    left: 0;
    height: 0.1875rem;
    background-color: #3641ff;
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  .burger-container {
    display: none;
  }

  /*=======HERO=========*/
  .hero-heading {
    font-size: 5em;
  }

  .ingrotel-fader-section-content {
    top: 12%;
    padding: 0 8em;
  }

  .ingrotel-fader-section-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ingrotel-fader-section-title h1 {
    font-size: 4em;
    position: relative;
    bottom: 2.4rem;
    right: 14rem;
  }
  .ingrotel-fader-section-title .fader-page-title-bg {
    background-color: #3641ff;
  }

  .fader-page-bread-crumbs {
    position: relative;
    bottom: 2.8rem;
  }
  .fader-page-bread-crumbs ul {
    margin: 0;
    padding: 0 1.4rem;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }
  .fader-page-bread-crumbs ul li {
    list-style: none;
    margin-right: 1em;
  }
  .fader-page-bread-crumbs ul li a {
    font-family: "PinkSans";
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  .ingrotel-fader-section-write-up p {
    font-size: 1em;
  }

  .the_fake_space {
    height: 5rem;
  }

  /**=====DECORATIVE COLUMNS=*/
  .home-video-decorative-column-2 {
    position: relative;
  }
  .home-video-decorative-column-2:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 126px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .home-video-decorative-column-2:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 382px;
    right: -4px;
  }

  .home-video-decorative-column-5 {
    position: relative;
  }
  .home-video-decorative-column-5:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 96px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .home-video-decorative-column-5:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 415px;
    right: -4px;
  }

  .home-video-decorative-column-6 {
    position: relative;
  }
  .home-video-decorative-column-6:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 269px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .home-video-decorative-column-6:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 241px;
    right: -4px;
  }

  .products-decorative-column-2 {
    position: relative;
  }
  .products-decorative-column-2:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 8rem;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .products-decorative-column-2:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 97rem;
    right: -4px;
  }

  .products-decorative-column-5 {
    position: relative;
  }
  .products-decorative-column-5:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 63rem;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .products-decorative-column-5:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 42rem;
    right: -4px;
  }

  .products-decorative-column-6 {
    position: relative;
  }
  .products-decorative-column-6:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 5rem;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.1;
  }
  .products-decorative-column-6:after {
    content: "";
    position: absolute;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
    border: solid 3px #fff;
    top: 100rem;
    right: -4px;
  }

  .home-products-section-title {
    padding: 20px 92px;
  }
  .home-products-section-title h1 {
    font-size: 5rem;
  }

  .home-products-section-write-up {
    padding: 20px 92px;
  }
  .home-products-section-write-up p {
    font-size: 1.1rem;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 992px) {
  /*=======NAVIGATION=========*/
  /*=======VIDEO BG======*/
  .ingrotel-video-header {
    height: 655px;
  }

  .fullscreen-video-wrap {
    height: 540px;
    overflow: hidden;
  }

  .ingrotel-video-overlay {
    height: 542px;
    width: 100vw;
  }

  .home-video-decorative-columns {
    height: 642px;
  }

  .home-video-unequal-bottom-boxes {
    top: 541px;
  }

  .home-video-decorative-column-1:before {
    height: 536px;
  }

  .home-video-decorative-column-2:after {
    top: 508px;
  }

  .home-video-decorative-column-4:before {
    height: 596px;
  }

  .home-video-decorative-column-5:after {
    top: 537px;
  }

  .home-video-decorative-column-6:before {
    height: 351px;
  }
  .home-video-decorative-column-6:after {
    top: 284px;
  }

  .home-video-decorative-column-7:before {
    height: 182px;
  }
  .home-video-decorative-column-7:after {
    top: 451px;
  }

  .products-decorative-column-1:before {
    height: 76.5rem;
  }
  .products-decorative-column-1:after {
    top: 11.5rem;
  }

  .products-decorative-column-2:before {
    height: 8rem;
  }
  .products-decorative-column-2:after {
    top: 80rem;
  }

  .products-decorative-column-4:before {
    height: 83.5rem;
  }

  .products-decorative-column-5:before {
    height: 46rem;
  }

  .products-decorative-column-6:after {
    top: 83.1rem;
  }

  .products-decorative-column-7:before {
    height: 56rem;
  }

  .ingrotel-fader-section-content {
    padding: 0 15em;
  }

  .ingrotel-fader-section-title {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ingrotel-fader-section-title h1 {
    position: relative;
    right: 3em;
    bottom: 0.6em;
    font-size: 6em;
  }
  .ingrotel-fader-section-title .fader-page-title-bg {
    width: 20em;
  }

  /*=======HERO=========*/
  .hero-heading {
    font-size: 6em;
  }

  .hero-text {
    font-size: 1em;
  }

  .home-products-section-title {
    padding: 20px 124px;
  }
  .home-products-section-title h1 {
    font-size: 5rem;
  }

  .home-products-section-write-up {
    padding: 20px 124px;
  }
  .home-products-section-write-up p {
    font-size: 1.1rem;
  }

  /*=======FOOTER TOP=========*/
  .footer-section-container {
    padding-bottom: 20px;
  }

  .footer-socials-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .footer-section-menu {
    height: 40px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .footer-section-menu ul {
    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer-section-menu ul li {
    list-style: none;
    text-align: center;
  }
  .footer-section-menu ul li a {
    font-family: "PinkSans", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    text-transform: uppercase;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
  }
  .footer-section-menu ul li a:hover, .footer-section-menu ul li a:focus, .footer-section-menu ul li a:visited {
    opacity: 1;
  }

  .footer-section-bottom-container {
    padding-top: 10px;
  }

  .footer-section-bottom-links {
    padding: 0;
    margin: 0;
  }
  .footer-section-bottom-links ul {
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .footer-section-bottom-links ul li {
    list-style: none;
    text-align: center;
  }
  .footer-section-bottom-links ul li a {
    text-decoration: none;
    opacity: 0.6;
    font-size: 12px;
    color: #fff;
  }
  .footer-section-bottom-links ul li a:hover {
    opacity: 1;
  }

  .footer-section-bottom-text p {
    font-size: 12px;
    color: #5d5757;
    text-align: center;
  }
  .footer-section-bottom-text p a {
    text-decoration: none;
    opacity: 0.5;
    font-size: 12px;
    color: #fff;
  }
  .footer-section-bottom-text p a:hover, .footer-section-bottom-text p a:focus, .footer-section-bottom-text p a:visited {
    opacity: 1;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 1280px) {
  /*=======NAVIGATION MENU===================*/
  .hero-heading-container {
    padding: 20px 300px;
  }

  .hero-text-container {
    padding: 20px 300px;
  }

  .about-section-container {
    padding-bottom: 10rem;
  }
  .about-section-container .container {
    background-color: #fff;
    padding: 5rem 5rem;
  }

  .about-section-heading {
    font-size: 8.2em;
  }

  .about-section-text-container {
    font-size: 1.2em;
    line-height: 2.3em;
  }

  .about-section-sub-heading-container {
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-size: 2rem;
  }

  .home-products-section-title {
    padding: 20px 300px;
  }
  .home-products-section-title h1 {
    font-size: 8.2rem;
  }

  .home-products-section-write-up {
    padding: 20px 300px;
  }
  .home-products-section-write-up p {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .ingrotel-fader-section-title h1 {
    right: 24rem;
  }

  .services-section-heading {
    font-size: 8.2em;
  }

  .services-section-text-container p {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .services-section-video-container {
    padding-top: 5rem;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 1380px) {
  .ingrotel-fader-section-title h1 {
    right: 27rem;
  }
}
/*-------------------------------------------------------------------------*/
@media screen and (min-width: 1480px) {
  .ingrotel-fader-section-title h1 {
    right: 30rem;
  }
}
/*
=============================INGROTEL PAGE TEMPLATE----MEDIA QUERIES==================================
----------------------------------------------------------------------------*/
@media screen and (min-width: 400px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 49vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 30vh;
  }

  .ingrotel-image-fader-overlay {
    height: 40vh;
  }
}
@media screen and (min-width: 450px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 49vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 40vh;
  }

  .ingrotel-image-fader-overlay {
    height: 45vh;
  }

  .ingrotel-page-title-container {
    padding-top: 120px;
  }
}
@media screen and (min-width: 575px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 59vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 50vh;
  }

  .ingrotel-image-fader-overlay {
    height: 55vh;
  }

  .ingrotel-page-title-container {
    padding-top: 140px;
  }

  .ingrotel-page-title-heading {
    font-size: 3.8em;
  }

  .ingrotel-page-text {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 700px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 71vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 60vh;
  }

  .ingrotel-image-fader-overlay {
    height: 65vh;
  }

  .ingrotel-page-title-container {
    padding-top: 160px;
  }

  .ingrotel-page-title-heading {
    font-size: 4.8em;
  }

  .ingrotel-page-text {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 800px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 88vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 70vh;
  }

  .ingrotel-image-fader-overlay {
    height: 73vh;
  }

  .ingrotel-page-title-container {
    padding-top: 200px;
  }

  .ingrotel-page-title-heading {
    font-size: 5.8em;
  }

  .ingrotel-page-text {
    font-size: 0.9em;
  }

  .ingrotel-image-fader-blend-area {
    height: 20vh;
  }
}
@media screen and (min-width: 900px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 98vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 80vh;
  }

  .ingrotel-image-fader-overlay {
    height: 85vh;
  }

  .ingrotel-page-title-container {
    padding-top: 230px;
  }

  .ingrotel-page-title-heading {
    font-size: 6.8em;
  }

  .ingrotel-page-text {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 990px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 105vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 90vh;
  }

  .ingrotel-image-fader-overlay {
    height: 95vh;
  }

  .ingrotel-image-fader-blend-area {
    height: 30vh;
  }
}
@media screen and (min-width: 1150px) {
  /*-------------FADER IMAGE BACKGROUND SECTION-----------------*/
  .ingrotel-image-fader-background {
    height: 160vh;
  }

  .ingrotel-fader-image-1, .ingrotel-fader-image-2, .ingrotel-fader-image-3, .ingrotel-fader-image-4 {
    height: 100vh;
  }

  .ingrotel-image-fader-overlay {
    height: 100vh;
  }

  .ingrotel-page-title-container .container {
    width: 700px;
  }

  .ingrotel-page-title-heading-bg {
    position: relative;
  }
  .ingrotel-page-title-heading-bg h1 {
    font-size: 1em;
  }

  .ingrotel-page-title-heading {
    position: absolute;
    left: 26px;
  }
  .ingrotel-page-title-heading h1 {
    line-height: 0;
  }

  .breadcrumbs-links {
    background-color: #3641ff;
    width: 300px;
    padding-left: 10px;
    padding-top: 60px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  .breadcrumbs-links li {
    padding-right: 8px;
    list-style: none;
  }
  .breadcrumbs-links li:after {
    content: " >> ";
    color: #fff;
  }
  .breadcrumbs-links li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: "Montserrat", "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
  }
  .breadcrumbs-links li a.hover, .breadcrumbs-links li a.focus {
    color: #fff;
  }

  .ingrotel-page-text-container {
    width: 440px;
    padding-top: 65px;
  }

  .unequal-bottom-boxes {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .unequal-box-1, .unequal-box-2 {
    width: 12.5vw;
    height: 15vh;
    background-color: #171717;
  }

  .unequal-box-3, .unequal-box-4 {
    width: 12.5vw;
    height: 5vh;
    background-color: #171717;
  }

  .unequal-box-5, .unequal-box-6 {
    width: 12.5vw;
    height: 9vh;
    background-color: #171717;
  }

  .unequal-box-7, .unequal-box-8 {
    width: 12.5vw;
    height: 15vh;
    background-color: #171717;
  }

  .grid-columns {
    position: absolute;
    top: 0;
    height: 160vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .grid-column-1 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-1:before {
    content: "";
    color: #fff;
    position: absolute;
    height: 86%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-1:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 13.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-2 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-2:before {
    content: "";
    position: absolute;
    height: 35%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-2:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 64.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-3 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-4 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-4:before {
    content: "";
    position: absolute;
    height: 94%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-4:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 5.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-5 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-5:before {
    content: "";
    position: absolute;
    height: 44%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-5:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 55.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-6 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-6:before {
    content: "";
    position: absolute;
    height: 74%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-6:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 25.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-7 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
  .grid-column-7:before {
    content: "";
    position: absolute;
    height: 51%;
    bottom: 0;
    opacity: 0.1;
    width: 1px;
    background-color: #fff;
    right: 0px;
  }
  .grid-column-7:after {
    content: "";
    position: absolute;
    right: -4px;
    border: solid 2px #fff;
    top: 48.1%;
    width: 0.625rem;
    height: 0.625rem;
    border-radius: 50%;
  }

  .grid-column-8 {
    width: 12.5vw;
    height: 160vh;
    position: relative;
  }
}

/*# sourceMappingURL=eda.css.map */
